*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Project exclude paths
/buildSrc/build/
/countries/build/
/countries/build/intermediates/javac/debug/classes/
/database/build/
/database/build/intermediates/javac/debug/classes/